In [2]:
import pandas as pd

In [8]:
movies = pd.read_csv(
    "/Users/apple/Downloads/movie.csv",
    header=None,
    names=["MovieID", "Year", "Title"],
    encoding="latin-1",
    engine="c",
    on_bad_lines="skip"
)

In [10]:

movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17434 entries, 0 to 17433
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   MovieID  17434 non-null  int64
 1   Year     17427 non-null  float64
 2   Title    17434 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 408.7+ KB

In [12]:
movies.head()

   MovieID    Year                         Title
0        1  2003.0               Dinosaur Planet
1        2  2004.0    Isle of Man TT 2004 Review
2        3  1997.0                     Character
3        4  1994.0  Paula Abdul's Get Up & Dance
4        5  2004.0      The Rise and Fall of ECW

In [13]:
movies["MovieID"] = movies["MovieID"].astype("int32")
movies["Year"] = pd.to_numeric(movies["Year"], errors="coerce")

In [14]:
movies.dropna(inplace=True)

In [15]:
movies.isnull().sum()

MovieID    0
Year       0
Title      0
dtype: int64

In [16]:
movies.to_csv("cleaned_movies.csv", index=False)

In [18]:
movies.isnull().sum()

MovieID    0
Year       0
Title      0
dtype: int64