In [14]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [15]:
import pandas as pd

df = pd.read_csv(
    "/Users/apple/Downloads/combined_data_1.txt",
    sep=",",
    header=None,
    names=["UserID", "Rating", "Date"]
)

In [16]:
df.shape

(24058263, 3)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24058263 entries, 0 to 24058262
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   UserID  object
 1   Rating  float64
 2   Date    object
dtypes: float64(1), object(2)
memory usage: 550.7+ MB

In [18]:
df.describe()

             Rating
count  2.405376e+07
mean   3.599634e+00
std    1.086118e+00
min    1.000000e+00
25%    3.000000e+00
50%    4.000000e+00
75%    4.000000e+00
max    5.000000e+00

In [19]:
df.head()

    UserID  Rating        Date
0       1:     NaN         NaN
1  1488844     3.0  2005-09-06
2   822109     5.0  2005-05-13
3   885013     4.0  2005-10-19
4    30878     4.0  2005-12-26

In [20]:
df.drop(0, inplace=True)

In [21]:
df.dropna(subset=["Rating"], inplace=True)

In [22]:
df.reset_index(drop=True, inplace=True)

In [23]:
df.columns.str.strip().str.lower().str.replace(" ","_")

Index(['userid', 'rating', 'date'], dtype='object')

In [24]:
df['UserID'] = pd.to_numeric(df['UserID'], errors='coerce')
df['Rating'] = pd.to_numeric(df['Rating'], errors='coerce')
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [25]:
df.isnull().sum()

UserID    0
Rating    0
Date      0
dtype: int64

In [26]:
df.head()

    UserID  Rating       Date
0  1488844     3.0 2005-09-06
1   822109     5.0 2005-05-13
2   885013     4.0 2005-10-19
3    30878     4.0 2005-12-26
4   823519     3.0 2004-05-03